@import "../../utilsScss/colors.scss";
@import "../../utilsScss/mixins.scss";

.gewinPage {
  @include pageDecore;
  padding-bottom: 120px;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 89px;
    margin: 0 auto;
    padding-top: 148px;
    height: calc(100% - 64px);
    width: max-content;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 14px;
    text-align: center;
  }
}
