@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.selectServiceItem {
  margin-top: 64px;
  margin-bottom: 28px;

  .label {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
.selectService {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter Tight;

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;

    .button__add {
      height: 39px;
      width: 39px;
      padding: 9px;
      border-radius: 4px;
      border: 1px solid $light-grey;

      background-color: #fff;

      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    }

    .add {
      animation: greenToWhite 0.3s infinite alternate;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 20px;
    line-height: normal;
  }
}

@keyframes greenToWhite {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
