@import "../../utilsScss/colors.scss";
@import "../../utilsScss/mixins.scss";

.underConstructionsPage {
  @include pageDecore;
  position: relative;
  height: max-content;
  padding-bottom: 158px;
}
