@import "../../utilsScss/colors.scss";

.header {
  display: flex;
  font-family: Inter  Tight;

  &__item {
    flex: 1;
    padding: 19px 0;
    border: 1px solid $light-grey;

    color: $dark-grey;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    
    background-color: #fff;
  }

  .active {
    background-color: $main-red;
    color: #fff;
    border: 1px solid $main-red;
  }
}
