@import "../../utilsScss/colors.scss";
@import "../../utilsScss/mixins.scss";

.pvsolFilePage {
  @include pageDecore;
  min-height: calc(100vh - 65.5px);
  max-height: max-content;

  &__inner {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-grey;
    padding-bottom: 154px;
  }
}
