$main-black: #0b0b0c;
$sec-black: #0b0b0ce6;
$main-red: #f32c40;
$light-red: #fe4557;
$main-grey: #f8f8f8;
$border-grey: #c3c9d6;
$dark-grey: #8f9aa5;
$light-grey: #c3c9d6;

$input-grey: #8f9aa5;
$stroke-grey: #d7d8da;

$main-green: #19bb81