@import "./colors.scss";

@mixin lineAnimation {
}

@mixin opacityAnimation {
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin pageDecore {
  background-color: $main-grey;
  height: 100vh;
  font-family: Inter  Tight;
}