@import "./colors.scss";

@mixin lineAnimation {
}

@mixin opacityAnimation {
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin pageDecore {
  background-color: $main-grey;
  min-height: calc(100vh - 65.5px);
  max-height: max-content;
  font-family: Inter Tight;
  padding-bottom: 159px;
}
