@import "../../utilsScss/colors.scss";
@import "../../utilsScss/mixins.scss";

.totalCost {
  position: absolute;
  bottom: 64px;
  right: 117px;

  color: $dark-grey;
  font-size: 18px;

  padding: 18px 48px;
  border: 1px solid $dark-grey;
  border-radius: 58px;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    border-color: $main-black;
    cursor: pointer;
    color: $main-black;
  }
}
