@import "../../../utilsScss/colors.scss";
@import "../../../utilsScss/mixins.scss";

.editable-service {
  position: relative;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 32px;
    border-bottom: 1px solid $dark-grey;
  }

  img {
    position: absolute;
    left: 102%;
    top: 12%;
  }
}

