@import "../../utilsScss/colors.scss";
@import "../../utilsScss/mixins.scss";

.checkoutPage {
  @include pageDecore;
  position: relative;
  padding-bottom: 158px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(1262px - 180px);
    margin: 0 auto;
    padding: 90px;
    background-color: #fff;
    margin-top: 64px;
    padding-bottom: 122px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    h3 {
      font-family: Inter Tight;
    }
  }

  .pageList {
    width: 100%;
    margin-bottom: 64px;

    .pageItem {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d7d8da;
      padding-bottom: 14px;

      font-size: 24px;
      line-height: normal;
      text-transform: capitalize;

      &:not(:last-of-type) {
        margin-bottom: 32px;
      }
    }
  }

  .totalPriceForAllPages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: normal;
    border-bottom: 1px solid #d7d8da;
    padding-bottom: 14px;
  }
}
